body {
    background: url(../images/12_col.gif) center top repeat-y;
    background-size: 90%;
}

[class*=box],
.header,
.content1,
.sidebar,
.footer,
.footer2,
.footer3,
.footer4 {
    border: 1px solid #333;
}

[class*="container"] {
    width: 90%;
    margin: 20px auto;
    height: 600px;
    display: grid;

    grid-template-columns: 15.5% auto 15.5%;
    grid-template-rows: repeat(1, minmax(200px, 1fr));
}



.header {
    grid-area: header;
}

.content1 {
    grid-area: content1;
}

.sidebar {
    grid-area: sidebar;
}

.footer {
    grid-area: footer;
}

.box1 {
    grid-area: box1
}

.box2 {
    grid-area: box2;
}
.box3 {
    grid-area: box3;
}

.footer2 {
    grid-area: footer2;
}

.footer3 {
    grid-area: footer3;
}

.footer4 {
    grid-area: footer4;
}

.container2 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header"
        "box1 box2 box2 box3"
        "content1 content1 content1 sidebar"
       ;

    /*grid-column-gap: 10px;
    grid-row-gap: 10px;*/
    grid-gap: 1% 1%;
}

.footcont {
    width: 90%;
    margin: 20px auto;
    display: grid;
    border: 1px solid #333;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, minmax(200px, 1fr));
    grid-template-areas:
        
        "footer footer2 footer3 footer4";

    /*grid-column-gap: 10px;
    grid-row-gap: 10px;*/
    grid-gap: 1% 1%;
}


[class*="footer"] {
   margin: 10px 10px;
}